@font-face {
    font-family: "Infini Regular";
    src: url("./assets/infini-regular.woff") format("woff")
  }

  @font-face {
    font-family: "Infini Bold";
    src: url("./assets/infini-bold.woff") format("woff")
  }

  body {
    background-color: #534D56;
  }

  h1 {
    font-family: "Infini Regular";
    color: #534D56;
    transition: 0.3s ease-in;
    padding: 10px;
    background-color: #DECDF5;
    border-radius: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  h1:hover {
    font-size: 100px;
    color: #80A1C1;
    background-color: #534D56
  }

  h2 {
    font-family: "Infini Bold";
    color: #80A1C1;
    letter-spacing: 5px;
  }

  .paragraph {
    font-family: "Infini Regular";
    font-size: 2rem;
    color: #F8F1FF;
  }
  .paragraph:active {
    transform: rotate(2deg);
  }
  .green {
    color: #80A1C1;
    border-bottom: 2px dotted #80A1C1;
    border-top: 2px dotted #80A1C1;
    font-size: 4rem;
  }

  .invisible:hover {
    opacity: 0;
  }

  .changecolor {
    color: #80A1C1;
  }

  .changecolor:hover {
    color: #656176;
  }